@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

img{
    width: 100%;
}

.container {
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center{
    background-color: hsl(0, 0%, 100%);
    width: 85%;
    border-radius: 15px;
}


@media (min-width: 376px) {
    .center{
        width: 16%;
    }
}

.content{
    padding: 12px;
    text-align: center;
}

.content img{
    border-radius: 15px;
}

.content h3{
    font-size: 23px;
    margin-bottom: 0;
}
@media (min-width: 376px) {
    .content h3{
        font-size: 19px;
    }
}

.content p{
    padding: 8px;
    color: hsl(220, 15%, 55%);   
}

@media (min-width: 376px) {
    .content p{
        font-size: small;
        margin-bottom: 0;
    }
}

/* font-size: 1.17em; */

.attribution { 
    margin-top: 5px;
    font-size: 8px; 
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}